.entryCard {

    // min-width: 300px;
    // max-width: 600px;

    margin: 10px;

    display: flex;
    flex-direction: column;


    border-radius: 10px;
    // position: fixed;
    // top: 100px;
    // left: 100px;
}

.entryCardHeaderTitle {
    font-size: large;
    font-weight: bold;
}

.entryCardHeader {
    gap: 10px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.entryCardHeaderRight {
    align-self: flex-end;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.entryCardHeaderRightButtons {
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;
}

.entryCardHeaderRightDate {
    font-size: small;
    font-style: italic;
    text-align: center;
}

.entryCardContent {
    font-style: italic;
}



.entryCardFooter {
    display: flex;
    flex-direction: column;

    justify-self: flex-end;
    margin-top: auto;
}

.entryCardFooterComment {
    font-style: italic;
}

.entryCardFooterKeywords {
    align-self: center;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.entryCardFooterKeyword {
    background-color: gray;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;

}