<div class="aboutContainer">
    <mat-card class="aboutCard">
        <mat-card-title>
            Dnevnik - čemu služi?
        </mat-card-title>

        <mat-card-content>
            Aplikacija se koristi kao online dnevnik. Ako olovka i papir nisu
            pri ruci, možete se obratiti online dnevniku kao spas.
            On ima mogućnost kreiranja i brisanja sadržaja u dnevniku
            koji su realizovani u vidu kartica.
            Svaka kartica ima svoj naslov, boju, datum, određene ključne reči,
            komentar i sadržaj.
        </mat-card-content>

        <mat-card-actions>
            <a mat-stroked-button routerLink="/">Nazad</a>
        </mat-card-actions>
    </mat-card>


    <mat-card class="aboutCard">
        <mat-card-title>
            Šta je dnevnik?
        </mat-card-title>

        <mat-card-subtitle>
            Definicija dnevnika
        </mat-card-subtitle>

        <mat-card-content>
            Dnevnik je jedna od dve specijalne vrste autobiografija.
        	Za razliku od memoara (druge vrste autobiografije) u kojima je piscu stalo,
            koliko da ispriča svoj život, toliko i da opiše vreme i sredinu u kojoj je
            živeo i radio, dnevnik predstavlja beleške koje su zapisivane iz dana u dan,
            a cilj im je isti. Glavna razlika je u tome što su memoari pisani po sećanju,
            a dnevnik se piše pod svežim utiscima dnevnih događaja. Dnevnik obiluje tačnim
            podacima, pa zato ima dokumentarnu ili istorijsku vrednost.
        </mat-card-content>

        <mat-card-actions>
            <a mat-stroked-button href="https://sr.wikipedia.org/wiki/%D0%94%D0%BD%D0%B5%D0%B2%D0%BD%D0%B8%D0%BA_(%D0%BA%D1%9A%D0%B8%D0%B6%D0%B5%D0%B2%D0%BD%D0%BE%D1%81%D1%82)">Izvor</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="aboutCard">
        <mat-card-title>
            Lorem Ipsum
        </mat-card-title>

        <mat-card-subtitle>Lorem Ipsum</mat-card-subtitle>
        <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </mat-card-content>

        <mat-card-actions>
            <a mat-stroked-button href="https://en.wikipedia.org/wiki/Lorem_ipsum">Izvor</a>
        </mat-card-actions>

    </mat-card>




    <div class="aboutCardLinkContainer">

        <a mat-raised-button class="aboutCardLinkIcon" href="https://angular.io/">
            <h1>Angular</h1>
            <img src="../../../assets/angularjs.svg" />
        </a>

        <a mat-raised-button class="aboutCardLinkIcon" href="https://www.typescriptlang.org/">
            <h1>TypeScript</h1>
            <img src="../../../assets/typescript.svg" />
        </a>

        <a mat-raised-button class="aboutCardLinkIcon" href="https://github.com/xTeamStanly/RWA-projekti">
            <h1>Repo</h1>
            <img src="../../../assets/github.svg" />
        </a>

        <a mat-raised-button class="aboutCardLinkIcon" href="https://nodejs.org/en/">
            <h1>NodeJS</h1>
            <img src="../../../assets/nodedotjs.svg" />
        </a>

        <a mat-raised-button class="aboutCardLinkIcon" href="https://reactivex.io/">
            <h1>ReactiveX</h1>
            <img src="../../../assets/reactivex.svg" />
        </a>

    </div>




</div>


<!-- <div class="aboutLogos">
    asdsad
</div> -->