.fullscreen {
    height: 100vh;
}

.sideNav {
    width: 260px;
}

.sideNavContent {
    padding: 30px;
}

.sideNavButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



.sideNavButtonContainter {
    width: 100%;
}

.sideNavTitle {
    background-color: #5C5CFFAA;
    width: 100%;
    font-size: xx-large;

    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sideNavButton {
    width: 100%;
    font-size: xx-large;

    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sideNavButtonActive {
    width: 100%;
    font-size: xx-large;

    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #5c5cff4e;
    color: #FFFF00;
}

.largeIcon {
    transform: scale(2);
}