
<mat-grid-list cols="3" rowHeight="350px">


    <mat-grid-tile rowspan="1" colspan="1">
        <entry-card></entry-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <entry-card></entry-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <entry-card></entry-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <entry-card></entry-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <entry-card></entry-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <entry-card></entry-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <entry-card></entry-card>
    </mat-grid-tile>


</mat-grid-list>
