

<mat-drawer-container class="fullscreen">
    <mat-drawer class="sideNav" mode="side" opened="true">

        <div class="sideNavButtons">

            <div class="sideNavTitle">
                <div>
                    <mat-icon class="largeIcon">spa</mat-icon>
                    &nbsp;
                    Dnevnik
                </div>
            </div>

            <div class="sideNavButtonContainter">
                <button mat-button [ngClass]="(currentActiveRoute === RoutesType.Home) ? 'sideNavButtonActive' : 'sideNavButton'" routerLink="/" (click)="activateRoute(RoutesType.Home)">
                    <div>
                        <mat-icon class="largeIcon">home</mat-icon>
                        &nbsp;
                        Početna
                    </div>
                </button>
            </div>

            <div class="sideNavButtonContainter">
                <button mat-button [ngClass]="(currentActiveRoute === RoutesType.Create) ? 'sideNavButtonActive' : 'sideNavButton'" routerLink="/new" (click)="activateRoute(RoutesType.Create)">
                    <div>
                        <mat-icon class="largeIcon">add</mat-icon>
                        &nbsp;
                        Kreiraj
                    </div>
                </button>
            </div>

            <div class="sideNavButtonContainter">
                <button mat-button [ngClass]="(currentActiveRoute === RoutesType.About) ? 'sideNavButtonActive' : 'sideNavButton'" routerLink="/about" (click)="activateRoute(RoutesType.About)">
                    <div>
                        <mat-icon class="largeIcon">help</mat-icon>
                        &nbsp;
                        O Aplikaciji
                    </div>
                </button>
            </div>

        </div>

    </mat-drawer>

    <mat-drawer-content class="sideNavContent" [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">

        <router-outlet #outlet="outlet">
        </router-outlet>

    </mat-drawer-content>
</mat-drawer-container>


