<mat-grid-list cols="2" rowHeight="300px">

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <entry-card></entry-card>
    </mat-grid-tile>


</mat-grid-list>